@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
  src: url("../assets/fonts/Montserrat-Bold.eot");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  src: url("../assets/fonts/Montserrat-Medium.eot");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Medium.woff2") format("woff2"), url("../assets/fonts/Lato-Medium.woff") format("woff");
  src: url("../assets/fonts/Lato-Medium.eot");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root { 
  --size: calc(1vh + 1vw) 
}

.container{
	
	padding: 0 20px;
	margin: 0 auto;
}




.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.mb-60{margin-bottom: 60px;}
.mb-50{margin-bottom: 50px;}
.mb-40{margin-bottom: 40px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}

.mt-60{margin-top: 60px;}
.mt-50{margin-top: 50px;}
.mt-40{margin-top: 40px;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}

.hidden{display: none;}
.flex {display: flex;}
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
body.no-scroll{overflow: hidden;}