
.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.mb-60{margin-bottom: 60px;}
.mb-50{margin-bottom: 50px;}
.mb-40{margin-bottom: 40px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}

.mt-60{margin-top: 60px;}
.mt-50{margin-top: 50px;}
.mt-40{margin-top: 40px;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}

.hidden{display: none;}
.flex {display: flex;}
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
body.no-scroll{overflow: hidden;}