@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
  src: url("../assets/fonts/Montserrat-Bold.eot");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  src: url("../assets/fonts/Montserrat-Medium.eot");
  font-style: normal;
  font-weight: 500;
  font-display: swap; 
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Medium.woff2") format("woff2"), url("../assets/fonts/Lato-Medium.woff") format("woff");
  src: url("../assets/fonts/Lato-Medium.eot");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  --background-color: #f8f8fa;
  --text-color: #1E1E1E;
  --text-tag-color: #787878;
  --box-shadow: rgba(30, 30, 30, 1);
  --yellow-defolt-color: #F7D454;
  --yellow-hover-color: #E7C547;
  --yellow-active-color: #DEBB38;
  --pink-defolt-color: #FC2A75;
  --pink-hover-color: #EC296F;
  --pink-active-color: #D92163;
  --purle-defolt-color: #9347E3;
}
:root {
  --prymary: "Montserrat", sans-serif;
  --secondary: "Lato", sans-serif;
}

:root { 
    --size: calc(1vh + 1vw) ;
}


h1, h2, h3, h4, p{overflow-wrap: break-word;}

h1{
  font: 700 calc(var(--size)*1.7) var(--prymary);
}

h2{
	font: 700 calc(var(--size)*1.3) var(--prymary);
}

h3{
	font: 500 calc(var(--size)*1.1) var(--prymary);
}

h4{
	font: 500 calc(var(--size)*0.9) var(--prymary);
}

h5 {
  font: 700 calc(var(--size)*0.8) var(--prymary);
}

h6 {
  font: 500 calc(var(--size)*0.6) var(--prymary);
}

p, a{
	font: 500 calc(var(--size)*0.8) var(--secondary);
}

button{
  font: 500 calc(var(--size)*0.8) var(--secondary);
}



.btn-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--size)*1.5);
    border-radius: 7px;
    border: 1px solid var(--box-shadow);
    background-color: var(--yellow-defolt-color);
    box-shadow: 3px 3px 0px var(--box-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.btn-yellow:hover{
    background-color: var(--yellow-hover-color);
}

.btn-yellow:active{
    box-shadow: none;
    background-color: var(--yellow-active-color);
}

.btn-pink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--size)*1.5);
    border-radius: 7px;
    border: 1px solid var(--box-shadow);
    background-color: var(--pink-defolt-color);
    box-shadow: 3px 3px 0px var(--box-shadow);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--background-color);
}
.btn-pink:hover{
    background-color: var(--pink-hover-color);
}
.btn-pink:active{
    box-shadow: none;
    background-color: var(--pink-active-color);
}